@font-face {
    font-family: 'OneRock';
    src: url(fonts/Onerock.ttf);
}

@font-face {
    font-family: 'NeoVibes';
    src: url(fonts/NCLNeovibes-Demo.otf);
}

body {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #0e1111;
}

.Title {
    font-family: 'NeoVibes', sans-serif;
    font-size: 35px;
    text-shadow: 0 0 10px #e2e2e2;
    color: #e2e2e2;
    height: -50px;
}

.greetings {
    font-family: 'NeoVibes', sans-serif;
    text-shadow: 0 0 10px #e2e2e2;
    color: #e2e2e2;
}

.thebio {
    font-family: 'Neovibes', sans-serif;
    text-shadow: 0 0 10px #e2e2e2;
    color: #e2e2e2;
    font-stretch: condensed;
    font-size: larger;
    padding-bottom: 20px;
}

.socialshit {
    text-shadow: 0 0 10px #e2e2e2;
    color: #e2e2e2;
    font-family: 'NeoVibes', sans-serif;
    font-stretch: narrower;
    font-size: 25px;
}

.social {
    text-shadow: 0 0 10px #4f24b4;
    font-family: 'Neovibes', sans-serif;
    font-stretch: narrower;
    font-size: 35px;
}

.games {
    text-shadow: 0 0 10px #e2e2e2;
    font-family: 'NeoVibes', sans-serif;
    color: #e2e2e2;
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
}

.ending {
    text-shadow: 0 0 10px #e2e2e2;
    font-family: 'NeoVibes', sans-serif;
    color: #e2e2e2;
    font-size: 20px;
    padding-top: 25px;
    text-align: center;
}